<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="cards.css" rel="stylesheet" id="login-css">
    <!-- <link href="{{url_for('static',filename='deck.css')}}" rel="stylesheet" id="login-css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card text-white card-has-bg click-col">
                    <div class="card-img-overlay d-flex flex-column card-front text-white bg-dark">
                        <div class="card-body">
                            <small class="card-meta mb-2">cat</small>
                            <h4 class="card-title mt-0 "><a class="text-white" href="/deck/<user_id>/<deck_no>">billi</a></h4>
                            <small><i class="far fa-clock"></i> cats</small><br>
                        </div>

                    </div>
                    <div class="card-img-overlay d-flex flex-column card-back bg-white">
                        <div class="card-body">
                            <small class="card-meta mb-2">cat</small>
                            <h4 class="card-title mt-0 "><a class="text-white" href="/deck/<user_id>/<deck_no>">billi</a></h4>
                            <small><i class="far fa-clock"></i> cats</small><br>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>