<html>

<head>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <link href="cards.css" rel="stylesheet" id="login-css">
    <!-- <link href="{{url_for('static',filename='deck.css')}}" rel="stylesheet" id="login-css"> -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <div class="container">
      <div class="card" onclick="flip(event)">
        <div class="front">
          <h1>This is the front</h1>
          <p>Here is some additional text</p>
        </div>
        <div class="back">
          <h1>This is the back</h1>
        </div>
      </div>
    </div>
    <script>
      function flip(event) {
        var element = event.currentTarget;
        if (element.className === "card") {
          if (element.style.transform == "rotateY(180deg)") {
            element.style.transform = "rotateY(0deg)";
          } else {
            element.style.transform = "rotateY(180deg)";
          }
        }
      }
    </script>
</body>

</html>
