<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title> Course Data </title>
        </head>
    <body>
        <h1> Course Details </h1>
        <table border="2" id = "course-details-table">       
                <tr>
                    <th>Average Marks</th>
                    <th>Maximum Marks</th>                     
                </tr>
             
                <tr>
                    <td>{{ avg }}</td>
                    <td>{{ max }}</td>                   
                </tr>
        </table>
        
        <img src ={{a}}   alt="Histogram">
        <p><a href="/">Go Back</a></p>
    </body>
</html>
